:root {
  --background: #232530;
  --background-light: #353949;
  --text: #e0ebf2;
  --primary: #1cb2d1;
  --primary-light: #56ccf2;
  --red: #e74c3c;
  --gradient: linear-gradient(45deg, #56CCF2, #2F80ED);
}


::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  background: var(--background-light)
}

::-webkit-scrollbar-thumb {
  background: var(--primary)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light)
}

* {
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}

body {
  background-color: var(--background);
  color: var(--text);
  box-sizing: border-box;
}